@font-face {
    font-family: 'font-paragrafo-bold';
    src: url(assets/fontes/inter/static/Inter-Bold.ttf);
}
@font-face {
    font-family: 'font-titulo-bold';
    src: url(./assets/fontes/inter/static/TitilliumWeb-Bold.ttf);
}

/**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: #fffafa;
    height: 90vh;
    
}

.titulo-forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 30px;
}

.titulo-forms h1 {
    font-family: font-titulo-bold;
    font-weight: 20px;
    font-size: 40px;
    letter-spacing: 2px;
}

.titulo-forms p {
    font-family: font-paragrafo-bold;
}

.contorno-form {
    height: 60vh;
    font-size: 20px;
    font-weight: bold;
    font-family:  font-paragrafo-bold;
    padding-left: 5px;
    border: 2px solid purple;
    border-radius: 8px;
}

.form-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.info-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}